/**
 * TYPO
 * par nod_
 */

/* CSS Mini Reset */
html,body,form,fieldset,legend,label,pre {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6,th,td,caption {font-weight:normal;}
h2,h3,h4,h5,h6 {font-family:georgia;font-style:italic;margin:0 0 1em;}
img {border:0;vertical-align:text-bottom;}

/* base */
body {font:normal 81.25%/1.5 Verdana,sans-serif;}
a:visited {color:#5c3566;}
a {color:#204a87;text-decoration:none;}
a:hover {color:#c00;text-decoration:underline;}
p,ol,.rmq,ul,dl,blockquote,form,table,.boutons_saut_forum,.reprise_dernier_message {margin:0 0 1.5em;}
table {width:100%;}
hr {height:2px;border:0;background:#d3d7cf;color:#d3d7cf;margin:1.5em 2.5em;}
pre {font-size:13px;line-height:1.3;}
h1 {font-size:2em;margin:1em 0;}
h2 {font-size:1.846em;}
h3 {font-size:1.692em;}
h4 {font-size:1.385em;}
h5 {font-size:1.231em;}
h6 {font-size:1em;}
ul {padding-left:2em;}
ul li {list-style-type:none;}
ul li:before {content:'– ';}

/* répare les styles débiles et moches */
#popup_menu_compte ul {background:white;border:1px solid #d3d7cf;display:none;padding:1em 1em;position:absolute;list-style:none;}
#popup_menu_compte li:before {content:'';}
#mp_box {margin:0 0.5em;width:50px;height:50px;vertical-align:text-bottom;text-align:center;line-height:50px;font-weight:bold;}
#mp_box a {border:1px solid #d3d7cf;display:block;width:100%;height:100%;}
.new_mp a {background:#c00;color:white;margin-top:90px;}
span.spoiler,span.spoiler_hidden,span.code,span.citation {display:block;font-weight:bold;margin-top:1.5em;}
span.spoiler a,span.spoiler_hidden a,span.code a,span.citation a {color:black;}
.infobulle span, .rmq, .citation2 {font-family:georgia;font-style:italic;padding:2em 2.5em;border:2px solid #d3d7cf;}
.rmq {border-width:0 0 0 2px;}
.citation2 .citation2 {border-width:1px;}
.spoiler2, .spoiler2_hidden {background:#eeeeec;}
.spoiler3, .spoiler3_hidden {padding:1.5em;}
div.code2 {overflow:auto;padding-right:100%;width:0px;}
td.linenos {border:1px solid #2E3436;color:#555753;visibility:hidden;padding:2em 0 2em;text-align:right;width:2em;overflow:hidden;}
.linenos pre {width:2em;overflow:hidden;}
td.code {border:1px solid #2E3436;padding:2em 2.5em 2em .5em}
.code2:hover .linenos {visibility:visible;}
.options_forum img {vertical-align:text-bottom;}
.clear{clear:both;}
.ligne_blocs_homepage {text-align:center;}
.ligne_blocs_homepage .infobox {text-align:left;width:30em;display:inline-block;vertical-align:text-top;}
.bloc_foot_right_home {margin-top:1.5em;margin-bottom:0;}
.row_module_index img {float:left;margin-right:1em;}
form[action="/designs.html"] .centre {margin-top:1.5em;}
.info_bonne_reponse,.sujet_resolu {padding:2em 2.5em;}
.info_bonne_reponse,.sujet_resolu {border:2px solid #4e9a06;}
.info_bonne_reponse {margin-bottom:1.5em;}
.question {border-color:#4e9a06;color:#4e9a06;}
.erreur2, .erreur {border-color:#c00;color:#a40000;}
.erreur2 {color:#a40000;}
.attention {border-color:#f57900;color:#ce5c00;}
.information {border-color:#3465a4;color:#204a87;}
.rmq a {text-decoration:underline;}

/* mise en page */
#top,#header,.contenu,#footer {margin:auto;width:75em;}
#corps {position:relative;margin:0 0 2em;}
#header {position:relative;}
.header_gauche {float:left;margin-right:1em;margin-top:1em;position:relative;z-index:10}
#zozor_position {position:absolute;top:0;right:0;}
.barre_msg {background:white;border:2px solid #d3d7cf;position:absolute!important;top:0;right:90px;max-width:30em;padding:2em;z-index:1;}
.barre_info {border-color:#4e9a06;}
#speedbarre {font:bold 1.077em Verdana,sans-serif;margin-top:1.5em;list-style:none;margin:0;padding:0;}
#speedbarre li {display:inline-block;padding-right:1em;padding-top:1em;}
#speedbarre li:before {content:'';}
#logbox {background:white;position:absolute;top:-8.5em;padding:0em 2em 2em;border:2px solid #d3d7cf;height:8em;border-top:0;right:0;z-index:10;}
#logbox:hover {border-color:#5c3566;top:0px;}
#logbox:hover .new_mp a {margin-top:0;}
#logbox div {display:inline-block;}
#arbre {font-size:0.769em;}
#zozor .centre {text-align:right;}

/* menu */
#menu {background:white;border:2px solid #d3d7cf;border-left:0;position:absolute;padding:2em 2em 1em 1.5em;left:-16em;top:190px;z-index:20;width:14em;}
#menu:hover {border-color:#729fcf;left:0;}
#menu h5 {font-weight:bold;}
#menu ul {padding:0;}
#menu_cours li {margin-bottom:1.5em;}
#menu li:before {content:'';}
#menu .liste_cours_menu {display:block;margin-left:35px;}

/* forum */
fieldset {border:0;margin:0;padding:0;width:auto;}
tbody tr {border:1px solid #d3d7cf;}
table tfoot td {font-size:0.769em;text-align:right;}
.liste_cat thead tr:first-child, .liste_pages {font-size:0.769em;text-align:right;}
.liste_cat tbody td {padding-top:0.5em;padding-bottom:0.5em;}
.grosse_cat {border:0;}
.grosse_cat .nom_forum {font:italic 1.3em Georgia,serif;padding:1.5em 0;}
.espace_postit {height:1.5em;border:0;}
.options_forum,.liste_cat td.centre,.liste_cat th.centre {font-size:0.769em;}
.liste_cat .dernier_msg {font-size:0.769em;text-align:right;}
.dernier_msg a[href^=forum] {font-weight:bold;}
.reprise_dernier_message {font-weight:bold;}
.header_message {font-size:0.769em;
  background:#d3d7cf;
  background:-moz-linear-gradient(top,#eeeeec,#d3d7cf);
  background:-webkit-gradient(linear,left top, left bottom,from(#eeeeec),to(#d3d7cf));
}
.header_message.bonne_reponse {
  background: #4e9a60;
  background: -webkit-gradient(linear, left top, left bottom, from(#8ae234), to(#4e9a60));
  background: -moz-linear-gradient(top,  #8ae234,  #4e9a60);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ae234', endColorstr='#4e9a60');*/
}

td img {vertical-align:text-bottom;}
.header_message .pseudo_membre {font-size:1.3em;font-weight:bold;}
.header_message .dates {text-align:right;padding-right:0.5em;}
.infos_membre {padding:1.5em 0;text-align:center;font-size:0.769em;font-style:italic;vertical-align:top;width:15em;}
.infos_membre img[alt=Avatar] {margin-bottom:0.5em;}
.message_bonne_reponse,.message,.message_txt {padding:1.5em;overflow:hidden;vertical-align:top;width:60em;}
.boite_message {overflow:hidden;width:60em;}
.message_edite {margin:1.5em 2.5em 0;font-style:italic;font-size:0.769em;}
.signature {font-size:0.769em;opacity:0.3;width:470px;height:100px;margin-top:20px;overflow:hidden;}
#rep_rapide {text-align:center;}
#rep_rapide textarea {position:relative;z-index:10;margin-top:-2em;}
.boutons_saut_forum {text-align:right;}
.boutons_saut_forum a {float:none;}
.btn_supprimer_msg {text-align:right;}
.zform {clear:both;}
.boutons_zform {margin-left:20px;}
.options_forum form {margin:0;}
.options_forum img {vertical-align:middle;}
input.notif {vertical-align:text-bottom;}
#date_dernier_backup_texte {display:block;margin-top:-1.5em;font-size:0.769em;}
.smilies_zform a img,#date_dernier_backup_texte img {vertical-align:middle;}
.smilies_zform {color:white;height:1.5em;position:relative;overflow:hidden;}
.smilies_zform a {float:left;position:absolute;top:0;right:0;font-size:0.769em;}
.repertoire .infobox {display:inline-block;vertical-align:text-top;float:none;}

/* formulaires */
input[type=text] {border:1px solid #888a85;padding:0.2em;}
textarea {border:1px solid #888a85;display:block;font-size:13px;height:25em;margin:0 auto 1.5em;padding:1.5em;width:72em;}
textarea.petit_textarea {height:5em;}
.zform textarea {height:42em;width:72em;}
#text_notepad textarea {margin:0;width:11em;}

/* tutos & news */
.onglets_tutos ul {margin:0;padding:0;text-align:center;}
.onglets_tutos li {font-weight:bold;display:inline-block;margin:0 2em;}
.onglets_tutos li:before {content:'';}
.infobox {border:2px solid #d3d7cf;clear:both;padding:2em;margin:1em;}
.infobox tr {border:0;}
.cadre_info_news .infobox, .cadre_auteur_date .infobox {float:right;width:25em;}
.cadre_info_news .infobox {border:0;}
.infobox.taille_news {clear:none;}
.wrap_sections_profil tr {border:0;}
.wrap_sections_profil td {vertical-align:top;}
form[action='news-77.html'] .scrollable {font-size:0.9em;}

.bouton_tuto {display:inline-block;float:none;border:2px solid #d3d7cf;padding:0 2em 1em;margin:0 0 1.5em 1.6em;width:12em;vertical-align:text-top;text-align:center;}
.bouton_tuto h3 {text-align:left;}
.bouton_hr {margin:0;background:white;color:white;}
.bouton_tuto .nb_tuto {display:block;margin-top:0.5em;}
img[src^='uploads/fr/cat'] {vertical-align:middle;}
.liens_bas_tuto {clear:both;}
.liste_parties_btut > li:before {content:'';}
.liste_chapitres_btut > li:before {content:'';}

/* profil */
#message_1 {max-width:40em;margin:4em auto;}
#pas_attendre {margin-top:1.5em;text-align:center;}
.boutons_box {width:58%;float:left;}
.button_box {display:inline-block;text-align:center;}
.sections_options {float:right;width:42%;}

/* admin */
.infobulle {position:relative;}
.infobulle span {background:white;display:none;position:absolute;top:2em;left:0;z-index:200;width:20em;}
.infobulle:hover span {display:block;}
#commentaires_validateurs textarea {width:65em;}



/* MOI J'AIME */
#acces_rapide,#footer,#top,
.droite.printnone,
.boutons_saut_forum form,
#publicite_banniere,
#recherche,p.centre + .boutons_saut_forum,
.liste_messages thead tr:last-child,#rep_rapide label,
#speedbarre #speed_accueil,
#texte_smilies,.smilies_zform input,.smilies_zform a[href^=tutoriel],
#zform_height_moins_texte,#zform_height_plus_texte,
h1 + h2 + br + .options_forum,h1 + .options_forum,
form[action="forum-81.html"],
.liste_cat + .btn_supprimer_msg,
.infos_membre .gauche,
#menu_boutique,legend,
#voir_tags,
#text1_smilies
{display:none;}
/* signatures à la con */
.signature img[src$=gif] {display:none;}


/* trucs récupérés */
input[type=submit],input[type=button],input[name=send],input[name=plus_options], .bouton_action {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .2em 1em .257em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5 1.5emem;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
input[type=submit]:hover,input[type=button]:hover,input[name=plus_options]:hover, input[name=send]:hover, .bouton_action:hover {text-decoration: none;}
input[type=submit]:active,input[type=button]:active,input[name=plus_options]:active, input[name=send]:active, .bouton_action:active {position: relative;top: 1px;}

/* noir */
a.bouton_action {
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
  background: -moz-linear-gradient(top,  #666,  #000);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');*/
}
a.bouton_action:hover {
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
  background: -moz-linear-gradient(top,  #444,  #000);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');*/
}
a.bouton_action:active {
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
  background: -moz-linear-gradient(top,  #000,  #444);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');*/
}
/* gris */
input[type=submit],input[type=button],input[name=plus_options] {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
  background: -moz-linear-gradient(top,  #888,  #575757);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');*/
}
input[type=submit]:hover,input[type=button]:hover,input[name=plus_options]:hover {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');*/
}
input[type=submit]:active,input[type=button]:active,input[name=plus_options]:active {
  color: #afafaf;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
  background: -moz-linear-gradient(top,  #575757,  #888);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');*/
}
/* vert */
input[name=send] {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');*/
}
input[name=send]:hover {
  background: #538018;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
  background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');*/
}
input[name=send]:active {
  color: #a9c08c;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
  background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');*/
}


.code pre {color:#d3d7cf;}
span.code2 {font-family:monospace;font-style:italic;margin-right:-1.3ex;}
span[class=code2] { margin-right : 0px; }
span.code2 { margin-right : -1.3ex; }
span.code2.console, span.code2.sql {margin-right:0;}
div.code2, div.code2 table {background:#2E3436;margin:0;}
.ln-xtra { background-color: #555753 }
.code2 table {border:0;margin:0;}
/* Pygmentize */
.code2 .hll { background-color: #FFC }
.code2 .c { color: #888a85; font-style: italic } /* Comment */
.code2 .err { border: 1px solid #F00 } /* Error */
.code2 .k { color: #8ae234; font-weight: bold } /* Keyword */
/*.code2 .o { color: #fcaf3e } /* Operator */
.code2 .cm { color: #888a85; font-style: italic } /* Comment.Multiline */
.code2 .cp { color: #ad7fa8 } /* Comment.Preproc */
.code2 .c1 { color: #888a85; font-style: italic } /* Comment.Single */
.code2 .cs { color: #888a85; font-style: italic } /* Comment.Special */
.code2 .gd { color: #A00000 } /* Generic.Deleted */
.code2 .ge { font-style: italic } /* Generic.Emph */
.code2 .gr { color: #F00 } /* Generic.Error */
.code2 .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code2 .gi { color: #00A000 } /* Generic.Inserted */
.code2 .go { color: #808080 } /* Generic.Output */
.code2 .gp { font-weight: bold } /* Generic.Prompt */
.code2 .gs { font-weight: bold } /* Generic.Strong */
.code2 .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code2 .gt { color: #0040D0 } /* Generic.Traceback */
.code2 .kc { color: #ef2929; } /* Keyword.Constant */
.code2 .kd { color: #8ae234; font-weight: bold } /* Keyword.Declaration */
.code2 .kn { color: #ad7fa8; font-weight: bold } /* Keyword.Namespace */
.code2 .kp { color: #ad7fa8 } /* Keyword.Pseudo */
.code2 .kr { color: #ad7fa8; font-weight: bold } /* Keyword.Reserved */
.code2 .kt { color: #ad7fa8 } /* Keyword.Type */
.code2 .m { color: #ce5c00 } /* Literal.Number */
.code2 .s { color: #edd400 } /* Literal.String */
.code2 .na { color: #8ae234; font-weight:bold; } /* Name.Attribute */
.code2 .nb { color: #f57900 } /* Name.Builtin */
.code2 .nc { color: #729fcf; font-weight: bold } /* Name.Class */
.code2 .no { color: #800 } /* Name.Constant */
.code2 .nd { color: #A2F } /* Name.Decorator */
.code2 .ni { color: #999; font-weight: bold } /* Name.Entity */
.code2 .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.code2 .nf { color: #729fcf; font-weight:bold; } /* Name.Function */
.code2 .nl { color: #A0A000 } /* Name.Label */
.code2 .nn { color: #729fcf; font-weight: bold } /* Name.Namespace */
.code2 .nt { color: #729fcf; font-weight: bold } /* Name.Tag */
.code2 .nv { color: #729fcf; font-weight: bold } /* Name.Variable */
.code2 .ow { font-weight: bold } /* Operator.Word */
.code2 .w { color: #BBB } /* Text.Whitespace */
.code2 .mf { color: #fcaf3e } /* Literal.Number.Float */
.code2 .mh { color: #fcaf3e } /* Literal.Number.Hex */
.code2 .mi { color: #fcaf3e } /* Literal.Number.Integer */
.code2 .mo { color: #fcaf3e } /* Literal.Number.Oct */
.code2 .sb { color: #edd400 } /* Literal.String.Backtick */
.code2 .sc { color: #edd400 } /* Literal.String.Char */
.code2 .sd { color: #edd400; font-style: italic } /* Literal.String.Doc */
.code2 .s2 { color: #edd400 } /* Literal.String.Double */
.code2 .se { color: #B62; font-weight: bold } /* Literal.String.Escape */
.code2 .sh { color: #BA2121 } /* Literal.String.Heredoc */
.code2 .si { color: #B68; font-weight: bold } /* Literal.String.Interpol */
.code2 .sx { color: #008000 } /* Literal.String.Other */
.code2 .sr { color: #B68 } /* Literal.String.Regex */
.code2 .s1 { color: #edd400 } /* Literal.String.Single */
.code2 .ss { color: #edd400 } /* Literal.String.Symbol */
.code2 .bp { color: #ad7fa8 } /* Name.Builtin.Pseudo */
.code2 .vc { color: #19177C } /* Name.Variable.Class */
.code2 .vg { color: #19177C } /* Name.Variable.Global */
.code2 .vi { color: #19177C } /* Name.Variable.Instance */
.code2 .il { color: #ce5c00 } /* Literal.Number.Integer.Long */
/* pour les code sur fond blanc */
span.code2 .hll { background-color: #FFC }
span.code2 .c { color: #555753; font-style: italic } /* Comment */
span.code2 .err { border: 1px solid #F00 } /* Error */
span.code2 .k { color: #4e9a06; font-weight: bold } /* Keyword */
span/*.code2 .o { color: #fcaf3e } /* Operator */
span.code2 .cm { color: #555753; font-style: italic } /* Comment.Multiline */
span.code2 .cp { color: #5c3566 } /* Comment.Preproc */
span.code2 .c1 { color: #555753; font-style: italic } /* Comment.Single */
span.code2 .cs { color: #555753; font-style: italic } /* Comment.Special */
span.code2 .gd { color: #A00000 } /* Generic.Deleted */
span.code2 .ge { font-style: italic } /* Generic.Emph */
span.code2 .gr { color: #F00 } /* Generic.Error */
span.code2 .gh { color: #000080; font-weight: bold } /* Generic.Heading */
span.code2 .gi { color: #00A000 } /* Generic.Inserted */
span.code2 .go { color: #808080 } /* Generic.Output */
span.code2 .gp { font-weight: bold } /* Generic.Prompt */
span.code2 .gs { font-weight: bold } /* Generic.Strong */
span.code2 .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
span.code2 .gt { color: #0040D0 } /* Generic.Traceback */
span.code2 .kc { color: #ef2929; } /* Keyword.Constant */
span.code2 .kd { color: #4e9a06; font-weight: bold } /* Keyword.Declaration */
span.code2 .kn { color: #5c3566; font-weight: bold } /* Keyword.Namespace */
span.code2 .kp { color: #5c3566 } /* Keyword.Pseudo */
span.code2 .kr { color: #5c3566; font-weight: bold } /* Keyword.Reserved */
span.code2 .kt { color: #5c3566 } /* Keyword.Type */
span.code2 .m { color: #ce5c00 } /* Literal.Number */
span.code2 .s { color: #c4a000 } /* Literal.String */
span.code2 .na { color: #4e9a06; font-weight:bold; } /* Name.Attribute */
span.code2 .nb { color: #ce5c00 } /* Name.Builtin */
span.code2 .nc { color: #729fcf; font-weight: bold } /* Name.Class */
span.code2 .no { color: #800 } /* Name.Constant */
span.code2 .nd { color: #A2F } /* Name.Decorator */
span.code2 .ni { color: #999; font-weight: bold } /* Name.Entity */
span.code2 .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
span.code2 .nf { color: #729fcf; font-weight:bold; } /* Name.Function */
span.code2 .nl { color: #A0A000 } /* Name.Label */
span.code2 .nn { color: #204a87; font-weight: bold } /* Name.Namespace */
span.code2 .nt { color: #204a87; font-weight: bold } /* Name.Tag */
span.code2 .nv { color: #204a87; font-weight: bold } /* Name.Variable */
span.code2 .ow { font-weight: bold } /* Operator.Word */
span.code2 .w { color: #BBB } /* Text.Whitespace */
span.code2 .mf { color: #ce5c00 } /* Literal.Number.Float */
span.code2 .mh { color: #ce5c00 } /* Literal.Number.Hex */
span.code2 .mi { color: #ce5c00 } /* Literal.Number.Integer */
span.code2 .mo { color: #ce5c00 } /* Literal.Number.Oct */
span.code2 .sb { color: #c4a000 } /* Literal.String.Backtick */
span.code2 .sc { color: #c4a000 } /* Literal.String.Char */
span.code2 .sd { color: #c4a000; font-style: italic } /* Literal.String.Doc */
span.code2 .s2 { color: #c4a000 } /* Literal.String.Double */
span.code2 .se { color: #B62; font-weight: bold } /* Literal.String.Escape */
span.code2 .sh { color: #BA2121 } /* Literal.String.Heredoc */
span.code2 .si { color: #B68; font-weight: bold } /* Literal.String.Interpol */
span.code2 .sx { color: #008000 } /* Literal.String.Other */
span.code2 .sr { color: #B68 } /* Literal.String.Regex */
span.code2 .s1 { color: #c4a000 } /* Literal.String.Single */
span.code2 .ss { color: #c4a000 } /* Literal.String.Symbol */
span.code2 .bp { color: #ad7fa8 } /* Name.Builtin.Pseudo */
span.code2 .vc { color: #19177C } /* Name.Variable.Class */
span.code2 .vg { color: #19177C } /* Name.Variable.Global */
span.code2 .vi { color: #19177C } /* Name.Variable.Instance */
span.code2 .il { color: #ce5c00 } /* Literal.Number.Integer.Long */
/*End of Pygmentise*/

/* import et modifié pour coller */
.ac_results {padding:0px;border: 1px solid #d3d7cf;background-color:white;overflow:hidden;z-index:5000;}
.ac_results ul {width:100%;list-style:none;padding:0;margin:0;}
.ac_results li {margin:0;padding:2px 5px;cursor:default;display:block;font-size:13px;line-height:16px;overflow:hidden;}
.ac_results li:before {content:'';}
.ac_loading {font-style:italic;}
.ac_over {background-color:#2e3436;color:white;}

.ui-widget ul {padding-left:0;}
.ui-tabs-nav li:before {content:'';}

/* Tous les textarea des zForm */
.boutons{margin-right: 20px;cursor: pointer;}
.boutons_zform img {border: 1px #f8fafd solid;}
.boutons_zform img:hover, .element:hover {border-top:1px #e3e7ec solid;border-left:1px #e3e7ec solid;border-bottom:1px #5F5F5F solid;border-right:1px #5F5F5F solid;}
.element {border: 1px #f8fafd solid;}
.opt_titre {text-align: center; font-weight: bold;}
/* Extra CSS pour la zForm */
.zform_menu {cursor:pointer;display:none;position:absolute;background-color:#f8fafd;font-size:0.769em;border:1px #e3e7ec solid;padding:2px;}
.zform_couleur {border:1px #e3e7ec solid;}
.zform_couleur:hover {border:1px #5f5f5f solid;}
.boutons{float:left;}
.zform_trigger {text-align:center;margin-right:4px;}
.zform_menu {display:none;position:absolute;}
#liste_code {padding:2px;width:150px;height:300px;overflow:auto;}

.tut_appreciation{float: left;text-align: center;margin-left: 5px;width: 10%;}
.tut_appreciation_smiley {width: 19px;height: 19px;margin: auto;background-image: url(../images/tutos/evaluate.png);background-repeat: no-repeat;}
.tut_appreciation_smiley.eval_enabled, .tut_appreciation_delete img:hover {cursor: pointer;}
.has_rated {cursor: help;}

.flux_popup{overflow: hidden;position: absolute;display: none;width: 350px;z-index: 100;}
.flux_popup ul{list-style: none;}
.flux_popup a.lien_flux{color:#2677C9;text-decoration:none;}
.selecteur_flux{margin-top: 5px;}

.scrollable {overflow:auto;height:40em;}
.flot_droite {margin-left:1em;}
.flot_gauche {margin-right:1em;}

.expandable
{
    background:     transparent url('../images/border_arron_plus_f.png') repeat-x left bottom;
    border-bottom : 0 none;
}

.expend span.more
{
    background: transparent url('../images/puce_plus.gif') no-repeat;
    display:block;
    height:16px;
    line-height:16px !important;
    overflow:hidden;
    width:16px;
}

.addthis_toolbox .vertical
{
    margin-bottom: 5px;
}

.addthis_toolbox .vertical a
{
    position: relative;
    display: block;
    padding: 4px 0 4px 22px;
    text-decoration: none;
    color: #2677C9;
    outline: none;
}

.addthis_toolbox .vertical a:hover
{
    color: #C87B02;
}

.addthis_toolbox .vertical span
{
    position: absolute;
    left: 2px;
    top: 4px;
}

#corps ul.tree, #corps ul.tree ul {
  list-style-image: none
}

ul.tree, ul.tree * {
    list-style-type: none;
    margin: 0;
    padding: 0 0 5px 0;
}

ul.tree img.arrow {
    padding: 2px 0 0 0;
    border: 0;
    width: 20px;
}

ul.tree li {
    padding: 4px 0 0 0;
    clear: both;
}
ul.tree li:before {content:'';}

ul.tree li ul {
    padding: 0 0 0 20px;
    margin: 0;
}

ul.tree label {
    cursor: pointer;
    font-weight: bold;
    float: left;
    display: inline;
    white-space: nowrap;
}

ul.tree label.hover {
    color: red;
}

ul.tree li .arrow {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    float: left;
    background: transparent no-repeat 0 3px;
}

ul.tree li .collapsed {
    background-image: url('../images/collapsed.gif');
}

ul.tree li .expanded {
    background-image: url('../images/expanded.gif');
}

ul.tree li .checkbox {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    float: left;
    background: transparent no-repeat 0 2px;
    background-image: url('../images/check0.gif');
}

ul.tree li .checked {
    background-image: url('../images/check2.gif');
}

ul.tree li .half_checked {
    background-image: url('../images/check1.gif');
}

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Lucida%20Grande,%20Lucida%20Sans,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=5px&bgColorHeader=5c9ccc&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=55&borderColorHeader=4297d7&fcHeader=ffffff&iconColorHeader=d8e7f3&bgColorContent=fcfdfd&bgTextureContent=06_inset_hard.png&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=469bdd&bgColorDefault=dfeffc&bgTextureDefault=02_glass.png&bgImgOpacityDefault=85&borderColorDefault=c5dbec&fcDefault=2e6e9e&iconColorDefault=6da8d5&bgColorHover=d0e5f5&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=79b7e7&fcHover=1d5987&iconColorHover=217bc0&bgColorActive=f5f8f9&bgTextureActive=06_inset_hard.png&bgImgOpacityActive=100&borderColorActive=79b7e7&fcActive=e17009&iconColorActive=f9bd01&bgColorHighlight=fbec88&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=fad42e&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #d3d7cf; background: #fcfdfd url(../images/jquery/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x;}
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #d3d7cf; background: #d3d7cf url(../images/jquery/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #c5dbec; background: #dfeffc url(../images/jquery/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2e6e9e; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #2e6e9e; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #79b7e7; background: #d0e5f5 url(../images/jquery/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1d5987; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #a40000; text-decoration: underline; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #888a85; background: #f5f8f9 url(../images/jquery/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #e17009; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #e17009; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fad42e; background: #fbec88 url(../images/jquery/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(../images/jquery/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../images/jquery/ui-icons_469bdd_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(../images/jquery/ui-icons_469bdd_256x240.png); }
.ui-widget-header .ui-icon, .ui-tabs-close-button .ui-icon {background-image: url(../images/jquery/ui-icons_d8e7f3_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../images/jquery/ui-icons_6da8d5_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../images/jquery/ui-icons_217bc0_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../images/jquery/ui-icons_f9bd01_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../images/jquery/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url(../images/jquery/ui-icons_cd0a0a_256x240.png); }
.ui-errors { width: 16px; height: 16px; background-image: url(../images/jquery/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; }
.ui-corner-tr { border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
.ui-corner-bl { border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; }
.ui-corner-br { border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.ui-corner-top { border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
.ui-corner-bottom { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.ui-corner-right { border-top-right-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.ui-corner-left { border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; }
.ui-corner-all { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(../images/jquery/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(../images/jquery/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }/* Accordion
----------------------------------*/
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Progressbar
----------------------------------*/
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/* Tabs
----------------------------------*/
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs-close-button {-moz-user-select: none;border: 0px none;position: absolute; top: 8px; right: 10px; padding: 1px;}
