/* zCode */

.fl, .flot_gauche { float: left; } /*.flot_gauche sert pour le zCode */
.fr, .flot_droite { float: right;} /*.flot_droite sert pour le zCode */

.dnone{ display: none; }
.dinline{ display: inline; }
.dblock{ display: block; }

.orange, .couleur_valid  { color: #EC7600; }
.noir { color: black; }
.marron { color: maroon; }
.vertf, .couleur_newser  { color: green; }
.olive { color: olive; }
.marine { color: navy; }
.violet { color: purple; }
.bleugris { color: teal; }
.argent { color: silver; }
.gris { color: #646464; }
.rouge, .couleur_admin { color: red; }
.vertc { color: lime; }
.jaune { color: yellow; }
.bleu, .couleur_modo { color: blue; }
.rose { color: fuchsia; }
.turquoise { color: aqua; }
.blanc { color: white; }

.bg_orange { color: #EC7600; background-color: #EC7600; }
.bg_noir { color: black; background-color: black; }
.bg_marron { color: maroon; background-color: maroon; }
.bg_vertf { color: green; background-color: green; }
.bg_olive { color: olive; background-color: olive; }
.bg_marine { color: navy; background-color: navy; }
.bg_violet { color: purple; background-color: purple; }
.bg_bleugris { color: teal; background-color: teal; }
.bg_argent { color: silver; background-color: silver; }
.bg_gris { color: #646464; background-color: #646464; }
.bg_rouge { color: red; background-color: red; }
.bg_vertc { color: lime; background-color: lime; }
.bg_jaune { color: yellow; background-color: yellow; }
.bg_bleu { color: blue; background-color: blue; }
.bg_rose { color: fuchsia; background-color: fuchsia; }
.bg_turquoise { color: aqua; background-color: aqua; }
.bg_blanc { color: white; background-color: white; }


.arial { font-family: Arial, serif; }
.times { font-family: Times, serif; }
.courrier { font-family: 'DejaVu Sans Mono', Courier, monospace; }
.impact { font-family: Impact, serif; }
.geneva { font-family: Geneva, serif; }
.optima { font-family: Optima, serif; }

.ttpetit { font-size: xx-small; }
.tpetit { font-size: x-small; }
.petit { font-size: small; }
.gros { font-size: large; }
.tgros { font-size: x-large; }
.ttgros { font-size: xx-large; }
.fontsize_09 { font-size: 0.9em; }
.fontsize_08 { font-size: 0.769em; }

.vcentre { vertical-align: middle !important; }

.centre { text-align: center; }
.gauche { text-align: left; }
.droite { text-align: right; }
.justifie { text-align: justify; }

.souligne { text-decoration: underline; }
.barre { text-decoration: line-through; }
.italique { font-style: italic; }
.gras { font-weight:bold; }

.liste_i { list-style-type: lower-roman; }
.liste_I { list-style-type: upper-roman; }
.liste_a { list-style-type: lower-latin; }
.liste_A { list-style-type: upper-latin; }
.liste_1 { list-style-type: decimal; }
.liste_rectangle { list-style-type: square; }
.liste_cercle { list-style-type: circle; }
.liste_disque { list-style-type: disc; }

.clearer { clear: both; }
.clearer_right { clear: right; }
.clearer_left { clear: left; }

.margin_1em { margin: 1em; }
.padding-right_10 {padding-right:1em;}
